.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1151px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 80px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 808px;
  animation-duration: 1000ms;
  margin: 12px auto 0;
}

.u-section-1 .u-group-1 {
  width: 403px;
  min-height: 559px;
  animation-duration: 1000ms;
  margin: 61px auto 0 44px;
}

.u-section-1 .u-container-layout-1 {
  padding: 17px 29px 22px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 61px 0 1px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 1px;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 61px 0 1px;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 1px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 12px auto 0 1px;
  padding: 0;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 62px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px auto 0 1px;
  padding: 0;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 61px 0 1px;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 61px 0 1px;
}

.u-section-1 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0 0;
}

.u-section-1 .u-social-icons-1 {
  height: 24px;
  min-height: 16px;
  width: 92px;
  min-width: 68px;
  margin: 20px auto 0 1px;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-image-1 {
  width: 616px;
  height: 410px;
  animation-duration: 1000ms;
  margin: -497px 37px 0 auto;
}

.u-section-1 .u-list-1 {
  width: 742px;
  margin: 92px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 16px) calc(50% - 16px);
  min-height: 291px;
  grid-gap: 32px 32px;
}

.u-section-1 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-1 .u-text-12 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 20px;
}

.u-section-1 .u-text-13 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 58px auto 0;
}

.u-section-1 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-1 .u-text-14 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 20px;
}

.u-section-1 .u-text-15 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 58px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-group-1 {
    width: 349px;
    margin-top: 40px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 551px;
    height: 412px;
    margin-top: -495px;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 112px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 196px;
  }

  .u-section-1 .u-text-12 {
    width: 275px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-13 {
    margin-top: 57px;
  }

  .u-section-1 .u-text-14 {
    width: 275px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-15 {
    margin-top: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1084px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 1121px;
    min-height: 1003px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 174px;
  }

  .u-section-1 .u-image-1 {
    height: 451px;
    margin-top: -2084px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 43px;
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-12 {
    width: 542px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-1 .u-text-14 {
    width: 542px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1048px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 1071px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -2035px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    margin-top: 26px;
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 16px) calc(50% - 16px);
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: 43px;
    margin-right: 22px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-top: 43px;
    margin-right: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1055px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 989px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-right: 51px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 51px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 51px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 51px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 51px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -1952px;
    object-position: 74.14% 0%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-13 {
    font-size: 3rem;
    margin-top: 94px;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    font-size: 3rem;
    margin-top: 94px;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 879px;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  font-size: 1.875rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 13px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 49px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(20% - 21.6px) calc(20% - 21.6px) calc(20% - 21.6px) calc(20% - 21.6px) calc(20% - 21.6px);
  min-height: 522px;
  grid-gap: 27px 27px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  animation-duration: 2000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 0 35px;
}

.u-section-2 .u-image-1 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("https://cantin-l.github.io/infra.png");
  background-position: 50% 50%;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 25px 20px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 60px auto 0;
  padding: 6px 14px 7px 13px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  animation-duration: 2000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 0 35px;
}

.u-section-2 .u-image-2 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("https://cantin-l.github.io/helpdesk.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 25px 20px 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 60px auto 0;
  padding: 6px 14px 7px 13px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  animation-duration: 2000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 0 35px;
}

.u-section-2 .u-image-3 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("https://cantin-l.github.io/formation.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 25px 20px 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 60px auto 0;
  padding: 6px 14px 7px 13px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  animation-duration: 2000ms;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 0 35px;
}

.u-section-2 .u-image-4 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("https://cantin-l.github.io/deploy.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 25px 20px 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 60px auto 0;
  padding: 6px 14px 7px 13px;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
  animation-duration: 2000ms;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 0 35px;
}

.u-section-2 .u-image-5 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("https://cantin-l.github.io/cyber.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 25px 20px 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 60px auto 0;
  padding: 6px 14px 7px 13px;
}

.u-section-2 .u-text-7 {
  animation-duration: 1000ms;
  margin: 30px auto 0;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: center;
  animation-duration: 1000ms;
  margin: 30px auto 39px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 430px;
  }

  .u-section-2 .u-image-1 {
    height: 188px;
    width: 188px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 188px;
    width: 188px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 188px;
    width: 188px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 188px;
    width: 188px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    height: 188px;
    width: 188px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 18px) calc(33.3333% - 18px) calc(33.3333% - 18px);
    min-height: 1098px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 240px;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 240px;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 240px;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 240px;
    width: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-5 {
    height: 240px;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 13.5px) calc(50% - 13.5px);
    min-height: 1853px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 270px;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 270px;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 270px;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 270px;
    width: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-5 {
    height: 270px;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 340px;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 340px;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 340px;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-4 {
    height: 340px;
    width: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-5 {
    height: 340px;
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 513px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 513px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 0 17px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 40px auto 0 28px;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 32px 32px 0 28px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 513px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 30px 30px;
}

.u-section-3 .u-image-1 {
  width: 312px;
  height: 364px;
  animation-duration: 1000ms;
  margin: 0 -66px 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 513px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 423px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 423px;
  }

  .u-section-3 .u-image-1 {
    height: 258px;
    margin-right: -68px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 423px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 649px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 28px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 324px;
  }

  .u-section-3 .u-image-1 {
    width: 210px;
    height: 189px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 324px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 192px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 911px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -30px;
    margin-right: auto;
    margin-left: 205px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 15px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 27px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 574px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 120px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 9px;
  }
}
